.global-container {
    max-width: 1920px;
    margin: 0 auto;
}
.parallax-section {
    min-height: 500px;
}


/* ----- Team section ----- */

#team {
    background-color: #F1F1F1;
}

#team .card {
    transition: box-shadow 0.3s ease-in-out;
}
#team .card:hover {
    box-shadow: 4px 4px 40px 1px #313131;
}

#team .card-footer {
    height: 55px;
}


/* ----- Affiliated section ----- */

#affiliated-business .affiliated-group {
    transition: background-color 0.3s ease-in-out;
}
#affiliated-business .affiliated-group:hover {
    background-color:  #F1F1F1;
}


/* ----- RD Project Section ----- */
#rd-project .parallax-section {
    background: url('./img/parallax-rd-project.jpg') no-repeat bottom / cover fixed;
    /* License Unsplash -- https://unsplash.com/fr/licence -- */
}
#rd-project {
    background-color: #F1F1F1;
}


/* ----- Case Studies Section ----- */
#case-studies .parallax-section {
    background: url('./img/parallax-case-studies.jpg') no-repeat bottom / cover fixed;
    /* License Unsplash -- https://unsplash.com/fr/licence -- */
}


/* ----- Papers Section ----- */
#papers .parallax-section {
    background: url('./img/parallax-papers.jpg') no-repeat bottom / cover fixed;
    /* License Unsplash -- https://unsplash.com/fr/licence -- */
}


/* ----- Contact Section ----- */
#contact {
    min-height: 100vh;
}
#contact .parallax-section {
    background: url('./img/parallax-contact.jpg') no-repeat bottom / cover fixed;
    /* License Unsplash -- https://unsplash.com/fr/licence -- */
}


/* ----- Footer ----- */
footer {
    border-top-left-radius: 25%;
    border-top: 5px solid #3bb34b;
}
