/* ________________________________________ */
/* ----- VARIABLES ----- */

:root{
    --kalyosphere-green: #3bb34b;
    --kalyosphere-blue: #1F4B7A;
    --kalyosphere-grey: #595959;
    --kalyosphere-black: #333;
    --kalyosphere-font: 'DM Sans', sans-serif;
    --linkedin-blue: #0e76a8;
}


/* ________________________________________ */
/* ----- Global ----- */

.global-container {
    max-width: 1920px;
    margin: 0 auto;
}
.text-k-green {
    color: var(--kalyosphere-green);
}
.text-k-blue {
    color: var(--kalyosphere-blue);
}
.text-k-grey {
    color: var(--kalyosphere-grey);
}
.text-k-black {
    color: var(--kalyosphere-black);
}
.font-k {
    font-family: var(--kalyosphere-font);
}
section .bg-linkedin {
    background-color: var(--linkedin-blue);
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
section .bg-linkedin:hover {
    background-color: var(--kalyosphere-blue);
}
.parallax-section {
    min-height: 300px;
    height: auto;
}
.empty-div {
    height: 75px;
}
.navbar {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


/* ________________________________________ */
/* ----- Comming-soon ----- */

nav a:hover {
    text-decoration: underline;
}


/* ________________________________________ */
/* ----- Comming-soon ----- */

#coming-soon{
    position: sticky;
    margin-bottom: 70px;
    z-index: -1;
}


/* ________________________________________ */
/* ----- Summary Section ----- */

#summary {
    -webkit-box-shadow: 2px -5px 5px 0 #000000;
            box-shadow: 2px -5px 5px 0 #000000;
}
#summary .parallax-section {
    min-height: 100vh;

    /* background: url('./img/parallax-summary.jpg') no-repeat bottom / cover fixed; */
    background: url('./img/parallax-summary.jpg');
    /* Photo de Marjan Blan sur Unsplash -- https://unsplash.com/fr/photos/6bXvYyAYVrE */

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}


/* ________________________________________ */
/* ----- Team section ----- */

#team .parallax-section {
    background: url('./img/parallax-team.jpg') no-repeat bottom / cover fixed;
    /* Photo de la Nasa sur Unsplash -- https://unsplash.com/fr/photos/lAcYPEiau0U */
}
#team .card {
    color: var(--kalyosphere-blue);
    -webkit-transition: border-radius 0.3s ease-in-out;
    -o-transition: border-radius 0.3s ease-in-out;
    transition: border-radius 0.3s ease-in-out;
}
#team .card:hover {
    border-radius: 10%;
}
#team .card-footer {
    height: 55px;
}


/* ________________________________________ */
/* ----- Affiliated section ----- */

#affiliated-business .parallax-section {
    background: url('./img/parallax-affiliated-business.jpg') no-repeat bottom / cover fixed;
    /* Photo de Viktor Kiryanov sur Unsplash -- https://unsplash.com/fr/photos/lAcYPEiau0U */
}
#affiliated-business .affiliated-group {
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
#affiliated-business .affiliated-group:hover {
    background-color:  #F1F1F1;
}
#affiliated-business hr {
    width: 40%;
    border: 1px solid;
}


/* ________________________________________ */
/* ----- RD Project Section ----- */
#rd-project .parallax-section {
    background: url('./img/parallax-rd-project.jpg') no-repeat bottom / cover fixed;
    /* https://fr.freepik.com/photos-gratuite/prise-vue-plongee-volcan-chauffe-cours-eruption_8943666.htm#query=geothermie&position=47&from_view=search&track=sph >> Image de Wirestock sur Freepik */
}


/* ________________________________________ */
/* ----- Case Studies Section ----- */
#case-studies .parallax-section {
    background: url('./img/parallax-case-studies.jpg') no-repeat bottom / cover fixed;
    /* Photo de Dan Meyers sur Unsplash -- https://unsplash.com/fr/photos/nSpL2yS0We8 */

}


/* ________________________________________ */
/* ----- Publications Section ----- */
#publications .parallax-section {
    background: url('./img/parallax-publications.jpg') no-repeat bottom / cover fixed;
    /* Photo de Ása Steinarsdóttir sur Unsplash -- https://unsplash.com/fr/photos/_xmAPHUXXiU/partager */
}


/* ________________________________________ */
/* ----- Contact Section ----- */
#contact {
    min-height: 100vh;
}
#contact .parallax-section {
    background: url('./img/parallax-contact.jpg') no-repeat bottom / cover fixed;
    /* Photo de Álvaro Serrano sur Unsplash -- https://unsplash.com/fr/photos/hjwKMkehBco */
}


/* ________________________________________ */
/* ----- Footer ----- */
footer {
    border-top-left-radius: 25%;
    border-top: 5px solid var(--kalyosphere-green);
}


/* ________________________________________ */
/* ----- Responsive ----- */

@media only screen and (max-width: 768px) {

    /* ----- Parallax ----- */
    #summary .parallax-section {
        background-attachment: scroll;
    }
    #team .parallax-section {
        background-attachment: scroll;
    }
    #affiliated-business .parallax-section {
        background-attachment: scroll;
    }
    #rd-project .parallax-section {
        background-attachment: scroll;
    }
    #case-studies .parallax-section {
        background-attachment: scroll;
    }
    #publications .parallax-section {
        background-attachment: scroll;
    }
    #contact .parallax-section {
        background-attachment: scroll;
    }
}
